@model Kursach_Voenkomat.Models.ОбразовательныеОрганизации

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Образовательные организации</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Наименование_образовательной_организации)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Наименование_образовательной_организации)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Адрес_образовательной_организации)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Адрес_образовательной_организации)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.типОбразовательнойОрганизации)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.типОбразовательнойОрганизации.Наименование_типа_образовательной_организации)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_образовательной_организации" class="btn btn-primary">Изменить</a> |
    <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
</div>
