<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ЕдиныйУчетВоеннообязанных</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kursach_Voenkomat.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 125%; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; color: #fff; letter-spacing: 1px;">
                    Единый<span style="color: #0056b3;">Учет</span><span style="color: #FF0000;">Военнообязанных</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Identity.IsAuthenticated)
                    {
                        var nameMappings = new Dictionary<string, string>
                        {
                            { "Vasily_Vasilie", "Василий Васильев" },
                            { "Nikita_Nazarov", "Никита Назаров" },
                            { "Kirill_Popov", "Крилл Попов" },
                            { "Valeria_Leonova", "Валерия Леонова" },
                            { "Adminchik", "Администратор" }
                        };
                        
                        var roleMappings = new Dictionary<string, string>
                        {
                            { "voenkomat_worker", "Сотрудник военкомата" },
                            { "MO", "Министерство обороны" },
                            { "Medical_worker", "Медицинский работник" },
                            { "State_services", "Госуслуги" },
                            { "Administrator", "Администратор" },
                        };

                        string displayName = nameMappings.GetValueOrDefault(User.Identity.Name, User.Identity.Name);
                        string role = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")?.Value ?? "Роль не указана";
                        string displayRole = roleMappings.GetValueOrDefault(role, role);

                        <ul class="navbar-nav flex-grow-1">
                            @if (role == "Administrator")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Logs" asp-action="Index">Аудит</a>
                                </li>
                        }
                        </ul>

                        <p title="Роль: @displayRole">
                            <button class="login-role-button" id="loginRoleButton" data-role="@displayRole">@displayName</button>
                        </p>

                        <form asp-controller="Account" asp-action="Logout" method="post" class="nav-link">
                            <button type="submit" class="btn btn-outline-danger">Выйти</button>
                        </form>

                        <script>
                            var button = document.getElementById('loginRoleButton');
                            var originalText = button.innerText;
                            var displayRole = button.getAttribute('data-role');

                            button.addEventListener('mouseover', function () {
                                button.innerText = displayRole;
                            });

                            button.addEventListener('mouseout', function () {
                                button.innerText = originalText;
                            });
                        </script>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ЕдиныйУчетВоеннообязанных - <a asp-area="" asp-controller="Home" asp-action="Privacy">Конфиденциальность</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>