@model IEnumerable<Kursach_Voenkomat.Models.Врачи>

@{
    ViewData["Title"] = "Врачи";
}

<h1>Врачи</h1>

<p>
    <button type="button" class="create-button" onclick="location.href='@Url.Action("Create")'">Создать</button>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Фамилия)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Имя)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Отчество)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Специальность)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Фамилия)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Имя)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Отчество)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Специальность.Наименование_специальности)
                </td>
                <td>
                    <div style="margin-top: 10px;"></div>

                    <div class="d-flex justify-content-end">
                        <a asp-action="Edit" asp-route-id="@item.ID_врача" class="btn btn-success">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.ID_врача" class="btn btn-warning">Подробности</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID_врача" class="btn btn-danger">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
