@model Kursach_Voenkomat.Models.Повестки

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Повестки</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_выписки)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_выписки)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_явки)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_явки)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Призывник)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ПризывникФИО)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.типПовестки)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.типПовестки.Тип_повестки)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.статусЯвки)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.статусЯвки.Наименование_статуса_явки)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_повестки" class="btn btn-primary">Изменить</a> |
    <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
</div>
