@model IEnumerable<Kursach_Voenkomat.Models.RecordModel>

@{
    ViewData["Title"] = "Посещения";
}

<h1>Посещения</h1>

<form asp-controller="Record" asp-action="FilterByDate" method="get">
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody>
            <tr>
                <td>Дата начала:</td>
                <td><input type="date" id="startDate" name="startDate" value="@ViewBag.StartDate"></td>
            </tr>
            <tr>
                <td>Дата окончания:</td>
                <td><input type="date" id="endDate" name="endDate" value="@ViewBag.EndDate"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="filtr-button">С фильтром</button>


    <a asp-controller="Record" asp-action="FilterByDate" class="non-filtr-button">Без фильтра</a>


    <a asp-controller="Record" asp-action="ReportByDay" asp-route-startDate="@ViewBag.StartDate" asp-route-endDate="@ViewBag.EndDate" class="graph-button">График</a>
</form>

<table id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Фамилия)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Имя)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Отчество)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Дата_рождения)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Дата_посещения)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Фамилия)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Имя)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Отчество)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата_рождения)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата_посещения)
                </td>
                <td>
                    <a asp-controller="Призывники" asp-action="Create" asp-route-id="@item.ID_посещения">Добавить призывника</a>
                </td>
            </tr>
        }
    </tbody>
</table>