@model IEnumerable<Kursach_Voenkomat.Models.Паспорта>

@{
    ViewData["Title"] = "Паспорта";
}

<h1>Паспорта</h1>

<p>
    <button type="button" class="create-button" onclick="location.href='@Url.Action("Create")'">Создать</button>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Призывник)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Серия)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Номер)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Дата_выдачи)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Кем_выдан)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Место_рождения)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Адрес_прописки)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ПризывникФИО)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Серия)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Номер)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата_выдачи)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Кем_выдан)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Место_рождения)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Адрес_прописки)
                </td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a asp-action="Edit" asp-route-id="@item.ID_паспорта" class="btn btn-success">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.ID_паспорта" class="btn btn-warning">Подробности</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID_паспорта" class="btn btn-danger">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
