@model IEnumerable<Kursach_Voenkomat.Models.ТипыОбразовательныхОрганизаций>

@{
    ViewData["Title"] = "Типы образовательных организаций";
}

<h1>Типы образовательных организаций</h1>

<p>
    <button type="button" class="create-button" onclick="location.href='@Url.Action("Create")'">Создать</button>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Наименование_типа_образовательной_организации)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Наименование_типа_образовательной_организации)
                </td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a asp-action="Edit" asp-route-id="@item.ID_типа_образовательной_организации" class="btn btn-success">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.ID_типа_образовательной_организации" class="btn btn-warning">Подробности</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID_типа_образовательной_организации" class="btn btn-danger">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
