@model Kursach_Voenkomat.Models.Приписные

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Приписные</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Призывник)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Призывник.ПризывникФИО)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Решение)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Решение.Решение)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_выдачи)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Дата_выдачи)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_приписного" class="btn btn-primary">Изменить</a> |
    <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
</div>
