@model IEnumerable<Kursach_Voenkomat.Models.Приписные>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Призывник)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Решение)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Призывник.ПризывникФИО)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Решение.Решение)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_приписного">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_приписного">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_приписного">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
