@model Kursach_Voenkomat.Models.ПрофессиональноПсихологическиеПоказателиГраждан

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <h4>Профессионально психологические показатели граждан</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Познавательные_способности)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Познавательные_способности)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Адаптационные_способности)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Адаптационные_способности)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Призывник)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ПризывникФИО)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.категорияПрофессиональнойПригодности)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.категорияПрофессиональнойПригодности.Категории_профессиональной_пригодности)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.военноПрофессиональнаяНаправленность)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.военноПрофессиональнаяНаправленность.Наименование_военно_профессиональной_направленности)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_ПП_показателей" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Вернуться к списку</a>
    </form>
</div>
