@model IEnumerable<Kursach_Voenkomat.Models.ПрофессиональноПсихологическиеПоказателиГраждан>

@{
    ViewData["Title"] = "Профессионально психологические показатели";
}

<h1>Профессионально психологические показатели</h1>

<p>
    <button type="button" class="create-button" onclick="location.href='@Url.Action("Create")'">Создать</button>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Познавательные_способности)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Адаптационные_способности)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Призывник)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.категорияПрофессиональнойПригодности)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.военноПрофессиональнаяНаправленность)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Познавательные_способности)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Адаптационные_способности)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ПризывникФИО)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.категорияПрофессиональнойПригодности.Категории_профессиональной_пригодности)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.военноПрофессиональнаяНаправленность.Наименование_военно_профессиональной_направленности)
                </td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a asp-action="Edit" asp-route-id="@item.ID_ПП_показателей" class="btn btn-success">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.ID_ПП_показателей" class="btn btn-warning">Подробности</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID_ПП_показателей" class="btn btn-danger">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
