@model Kursach_Voenkomat.Models.МедицинскиеДокументы

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>МедицинскиеДокументы</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Призывник)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ПризывникФИО)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Диагноз)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Диагноз)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Наименование_медицинской_организации)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Наименование_медицинской_организации)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_выписки_медицинского_заключения)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_выписки_медицинского_заключения)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_медицинского_документа">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
