@model IEnumerable<Kursach_Voenkomat.Models.МедицинскиеДокументы>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Призывник)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Диагноз)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Наименование_медицинской_организации)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Дата_выписки_медицинского_заключения)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ПризывникФИО)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Диагноз)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Наименование_медицинской_организации)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Дата_выписки_медицинского_заключения)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_медицинского_документа">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_медицинского_документа">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_медицинского_документа">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
