@model List<Kursach_Voenkomat.Models.Log>

<style>
    .table-container {
        margin: 20px auto;
        max-width: 100%;
        overflow-x: auto;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f8f9fa;
        font-weight: bold;
        color: #333;
    }

    tr:nth-child(even) {
        background-color: #f4f4f4;
    }

    tr:hover {
        background-color: #e9ecef;
    }

    tbody tr:last-child td {
        border-bottom: none;
    }
</style>

<div class="table-container">
    <table id="myTable">
        <thead>
            <tr>
                <th>Время события (UTC +3)</th>
                <th>Серверное имя пользователя</th>
                <th>Роль пользователя</th>
                <th>Действие</th>
                <th>Таблица БД</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var audit in Model)
            {
                <tr>
                    <td>@audit.Дата</td>
                    <td>@audit.Имя_пользователя</td>
                    <td>@audit.Роль</td>
                    <td>@audit.Действие</td>
                    <td>@audit.Таблица</td>
                </tr>
            }
        </tbody>
    </table>
</div>